<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Chaos.Movies.Service.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="Chaos.Movies.Model.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=942-E600446-01\SQL2014;Initial Catalog=CMDB;User Id=CMDB;Password=YZNES7BmFY4ncSMk;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.6.2" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true">
      <baseAddressPrefixFilters>
        <add prefix="https://localhost:44319" />
      </baseAddressPrefixFilters>
    </serviceHostingEnvironment>
    <bindings>
      <basicHttpBinding>
        <binding name="ServiceBinding" maxReceivedMessageSize="4194304">
          <security mode="Transport" />
          <readerQuotas maxStringContentLength="65536" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehavior">
          <serviceMetadata httpGetEnabled="false" httpsGetEnabled="true" httpsGetUrl="https://localhost:44318/ChaosMoviesService.svc" httpGetUrl="http://localhost:64549/ChaosMoviesService.svc" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="Chaos.Movies.Service.ChaosMoviesService" behaviorConfiguration="ServiceBehavior">
        <endpoint address="https://localhost:44318/ChaosMoviesService.svc" binding="basicHttpBinding" bindingConfiguration="ServiceBinding" contract="Chaos.Movies.Service.IChaosMoviesService" />
      </service>
    </services>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <directoryBrowse enabled="true" />
  </system.webServer>
  <applicationSettings>
    <Chaos.Movies.Service.Properties.Settings>
      <setting name="TmdbApiKey" serializeAs="String">
        <value>edd081789d1682057b56406a750f9e01</value>
      </setting>
    </Chaos.Movies.Service.Properties.Settings>
    <Chaos.Movies.Model.Properties.Settings>
      <setting name="UserService" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SystemUserName" serializeAs="String">
        <value>System</value>
      </setting>
      <setting name="SystemPassword" serializeAs="String">
        <value>#4tJk448My3j%H5c</value>
      </setting>
    </Chaos.Movies.Model.Properties.Settings>
  </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.3" newVersion="4.1.1.3" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>