<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Chaos.Movies.Service.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.6.2"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true">
      <baseAddressPrefixFilters>
        <add prefix="https://localhost:44319"/>
      </baseAddressPrefixFilters>
    </serviceHostingEnvironment>
    <bindings>
      <basicHttpBinding>
        <binding name="ServiceBinding" maxReceivedMessageSize="4194304">
          <security mode="Transport"/>
          <readerQuotas maxStringContentLength="65536" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehavior">
          <serviceMetadata httpGetEnabled="false" httpsGetEnabled="true" httpsGetUrl="https://localhost:44318/ChaosMoviesService.svc" httpGetUrl="http://localhost:64549/ChaosMoviesService.svc" />
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="Chaos.Movies.Service.ChaosMoviesService" behaviorConfiguration="ServiceBehavior">
        <endpoint address="https://localhost:44318/ChaosMoviesService.svc" binding="basicHttpBinding" bindingConfiguration="ServiceBinding" contract="Chaos.Movies.Service.IChaosMoviesService" />
      </service>
    </services>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <directoryBrowse enabled="true"/>
  </system.webServer>
  <applicationSettings>
    <Chaos.Movies.Service.Properties.Settings>
      <setting name="TmdbApiKey" serializeAs="String">
        <value>edd081789d1682057b56406a750f9e01</value>
      </setting>
    </Chaos.Movies.Service.Properties.Settings>
  </applicationSettings>
</configuration>