@{
    ViewBag.Title = "Help";
    Layout = "~/Views/Shared/_AppLayout.cshtml";
}

<h2>Help</h2>

<h3>Meny</h3>
<div class="game-row">
    <div>
        <i class="fas fa-map clickable success"></i>
    </div>
</div>
<div class="game-row">
    <div>
        <i class="fas fa-list-ol clickable gold"></i>
    </div>
</div>
<div class="game-row">
    <div>
        <i class="fas fa-language clickable question"></i>
    </div>
</div>
<div class="game-row">
    <div>
        <i class="fas fa-question clickable question"></i>
    </div>
</div>
<div class="game-row">
    <div>
        <i class="fas fa-home clickable question"></i>
    </div>
</div>
<div class="game-row">
    <div>
        <i class="fas fa-cogs clickable gray"></i>
    </div>
</div>