@using Chaos.Wedding.Models.Games
@{
    ViewBag.Title = "Score";
    Layout = "~/Views/Shared/_AppLayout.cshtml";
    var systemData = (SystemData)this.Session["SystemData"];
}

<h2>@systemData.GetTitle("ChooseLanguage")</h2>
@foreach (var title in (List<string>)Session["Languages"])
{
    <img class="language" src="~/Content/images/language/@FormattableString.Invariant($"{title}.svg")" onclick="gamesCallAjax('@Url.Action("SetUserLanguage", "Game")', {language: '@title'})" />
}