@model Chaos.Wedding.Models.Games.Game

@{
    ViewBag.Title = "Game";
    Layout = "~/Views/Shared/_AppLayout.cshtml";
}

<h2>@Model.Titles.GetTitle("sv-SE").Title</h2>
@foreach (var zone in Model.Zones)
{
    <h3>Zone: @zone.Titles.GetTitle("sv-Se").Title</h3>
}