body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: white;
}

/* Wrapping element */

/* Set some basic padding to keep content from hitting the edges */

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */

input,
select,
textarea { max-width: 280px; }

/* Carousel */

.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */

.carousel-inner .item img[src$=".svg"] { width: 100%; }

/* Hide/rearrange for smaller screens */

@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption { display: none; }
}

/***********************************************************/

/************************/
/*****     MISC     *****/
/************************/

.clickable { cursor: pointer; }

.errorContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #333333;
    background: rgba(51, 51, 51, 0.4);
    z-index: 1040;
    display: none;
}

.errorMessage {
    margin: 5%;
    width: 90%;
    height: 90%;
    background-color: white;
}

/************************/
/*****     LIST     *****/
/************************/

.item {
    display: inline-block;
    border: #c0c0c0 1px solid;
    box-shadow: 5px 5px 5px #c0c0c0;
    white-space: nowrap;
    margin-bottom: 5px;
    background-color: white;
}

.item .name {
    height: 30px;
    border-bottom: 1px solid #c0c0c0;
}

.item.left .name { text-align: right; }

.item.separator {
    border: black 1px solid;
    height: 152px;
    vertical-align: bottom;
}

.item a {
    text-decoration: none;
    color: black;
}

    .item.fullRow {
        padding: 3px;
        width: 100%;
    }

    .item.dateUncertain {
        background-color: pink;
    }

.listIcon {
    display: inline-block;
    vertical-align: top;
}

.listIcon.large img {
    width: 200px;
    height: 300px;
}

.listIcon img, .listIcon.medium img {
    width: 80px;
    height: 120px;
}

.listIcon.small img {
    width: 67px;
    height: 100px;
}

.listIcon.tiny img {
    width: 33px;
    height: 50px;
}

/**************************/
/*****     Toggle     *****/
/**************************/

.accordion-toggle:after {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings'; /* essential for enabling glyphicon */
    content: "\e114"; /* adjust as needed, taken from bootstrap.css */
    float: left; /* adjust as needed */
    color: black; /* adjust as needed */
    margin-right: 0.4em;
}

.accordion-toggle.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\e080"; /* adjust as needed, taken from bootstrap.css */
}

.accordion-toggle { cursor: pointer; }


/**************************/
/*****     RATING     *****/
/**************************/

.itemContent { display: inline-block; }

.ratingRow {
    display: block;
    height: 20px;
    width: 245px;
}

.ratingRow div { position: absolute; }

.ratingRow img { vertical-align: top; }

.ratingRow .ratingIcon {
    width: 45px;
    height: 20px;
}

.ratingRow .ratingIcon img {
    width: 20px;
    height: 20px;
}

.ratingRow .ratingBackground {
    height: 20px;
    width: 200px;
    background-color: lightgray;
}

.ratingRow .ratingStars {
    height: 20px;
    width: 200px;
}

.ratingRow .ratingScore {
    font-weight: bold;
    font-family: serif;
    font-size: 18px;
    width: 20px;
    padding-left: 4px;
}

.item .ratingRow .ratingIcon { margin-left: 200px; }

/***************************/
/*****     BUTTONS     *****/
/***************************/

.actionButton {
    padding: 10px;
    background: azure;
    font-weight: bold;
    cursor: pointer;
}

.saveButton {
    padding: 10px;
    background: greenyellow;
    font-weight: bold;
    cursor: pointer;
}