<configuration>
  <runtime>
    <gcServer enabled="true"/>
  </runtime>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=DESKTOP-0BSTFO4;Initial Catalog=CMDB;User Id=WebUser;Password=MSdNhYK3haQ9SKcw;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>
