declare @boxOffices table(Score int, Title nvarchar(100))


insert @boxOffices select 1, 'Star Wars Ep. VIII: The Last Jedi'
insert @boxOffices select 2, 'Beauty and the Beast'
insert @boxOffices select 3, 'The Fate of the Furious'
insert @boxOffices select 4, 'Despicable Me 3'
insert @boxOffices select 5, 'Jumanji: Welcome to the Jungle'
insert @boxOffices select 6, 'Spider-Man: Homecoming'
insert @boxOffices select 7, 'Guardians of the Galaxy Vol 2'
insert @boxOffices select 8, 'Wolf Warrior 2'
insert @boxOffices select 9, 'Thor: Ragnarok'
insert @boxOffices select 10, 'Wonder Woman'
insert @boxOffices select 11, 'Coco'
insert @boxOffices select 12, 'Pirates of the Caribbean: Dead Men Tell No Tales'
insert @boxOffices select 13, 'It'
insert @boxOffices select 14, 'Justice League'
insert @boxOffices select 15, 'Logan'
insert @boxOffices select 16, 'Transformers: The Last Knight'
insert @boxOffices select 17, 'Kong: Skull Island'
insert @boxOffices select 18, 'The Boss Baby'
insert @boxOffices select 19, 'Dunkirk'
insert @boxOffices select 20, 'War for the Planet of the Apes'
insert @boxOffices select 21, 'The Mummy'
insert @boxOffices select 22, 'Kingsman: The Golden Circle'
insert @boxOffices select 23, 'The Greatest Showman'
insert @boxOffices select 24, 'Cars 3'
insert @boxOffices select 25, 'Fifty Shades Darker'
insert @boxOffices select 26, 'Murder on the Orient Express'
insert @boxOffices select 27, 'xXx: Return of Xander Cage'
insert @boxOffices select 28, 'Never Say Die'
insert @boxOffices select 29, 'The Lego Batman Movie'
insert @boxOffices select 30, 'Qian Ren 3: Yan Zhi Da Zuo Zhan'
insert @boxOffices select 31, 'Annabelle: Creation'
insert @boxOffices select 32, 'Wonder'
insert @boxOffices select 33, 'Ferdinand'
insert @boxOffices select 34, 'Split'
insert @boxOffices select 35, 'Baahubali 2: The Conclusion'
insert @boxOffices select 36, 'Blade Runner 2049'
insert @boxOffices select 37, 'Gong fu yu jia'
insert @boxOffices select 38, 'Get Out'
insert @boxOffices select 39, 'Xi You Fu Yao Pian'
insert @boxOffices select 40, 'Alien: Covenant'
insert @boxOffices select 41, 'Baby Driver'
insert @boxOffices select 42, 'Fang Hua'
insert @boxOffices select 43, 'Geostorm'
insert @boxOffices select 44, 'The Emoji Movie'
insert @boxOffices select 45, 'Valerian and the City of a Thousand Planets'
insert @boxOffices select 46, 'A Dog’s Purpose'
insert @boxOffices select 47, 'Smurfs: The Lost Village'
insert @boxOffices select 48, 'Paddington 2'
insert @boxOffices select 49, 'The Shape of Water'
insert @boxOffices select 50, 'Pitch Perfect 3'
insert @boxOffices select 51, 'The Post'
insert @boxOffices select 52, 'Baywatch'
insert @boxOffices select 53, 'Daddy’s Home 2'
insert @boxOffices select 54, 'The Hitman’s Bodyguard'
insert @boxOffices select 55, 'John Wick: Chapter Two'
insert @boxOffices select 56, 'Ghost in the Shell'
insert @boxOffices select 57, 'Three Billboards Outside Ebbing, Missouri'
insert @boxOffices select 58, 'Cheng feng po lang'
insert @boxOffices select 59, 'Darkest Hour'
insert @boxOffices select 60, 'Power Rangers'
insert @boxOffices select 61, 'Girls Trip'
insert @boxOffices select 62, 'The Foreigner'
insert @boxOffices select 63, 'King Arthur: Legend of the Sword'
insert @boxOffices select 64, 'American Made'
insert @boxOffices select 65, 'Secret Superstar'
insert @boxOffices select 66, 'A Bad Moms Christmas'
insert @boxOffices select 67, 'Captain Underpants: The First Epic Movie'
insert @boxOffices select 68, 'Happy Death Day'
insert @boxOffices select 69, 'The Lego Ninjago Movie'
insert @boxOffices select 70, 'The Dark Tower'
insert @boxOffices select 71, 'Buddies in India'
insert @boxOffices select 72, 'Along With The Gods: The Two Worlds'
insert @boxOffices select 73, 'Wukong'
insert @boxOffices select 74, 'Jigsaw'
insert @boxOffices select 75, 'Life'
insert @boxOffices select 76, 'Atomic Blonde'
insert @boxOffices select 77, 'Yao Mao Zhuan'
insert @boxOffices select 78, 'The Shack'
insert @boxOffices select 79, 'Chasing the Dragon'
insert @boxOffices select 80, 'Taeksi Woonjunsa'
insert @boxOffices select 81, 'Rings'
insert @boxOffices select 82, 'Once Upon a Time'
insert @boxOffices select 83, 'Sha Po Lang: Tan Lang'
insert @boxOffices select 84, 'Going in Style'
insert @boxOffices select 85, 'Lady Bird'
insert @boxOffices select 86, 'Boonie Bears: Entangled Worlds'
insert @boxOffices select 87, 'Tiger Zinda Hai'
insert @boxOffices select 88, 'Feng Ren Ji Yue Dui'
insert @boxOffices select 89, 'American Assassin'
insert @boxOffices select 90, 'Victoria and Abdul'
insert @boxOffices select 91, 'Fack ju Göhte 3'
insert @boxOffices select 92, 'Meitantei Konan: Kara Kurenai no Rabu Retta'
insert @boxOffices select 93, 'The Star'
insert @boxOffices select 94, 'The Mountain Between Us'
insert @boxOffices select 95, 'How to Be a Latin Lover'
insert @boxOffices select 96, '47 Meters Down'
insert @boxOffices select 97, 'Everything, Everything'
insert @boxOffices select 98, 'Eiga Doraemon: Nobita no nankyoku kachikochi da…'
insert @boxOffices select 99, 'My Little Pony: The Movie'
insert @boxOffices select 100, 'The Founding of an Army'
insert @boxOffices select 101, 'The Devotion of Suspect X'
insert @boxOffices select 102, 'Chāi dàn zhuānjiā'
insert @boxOffices select 103, 'Snatched'
insert @boxOffices select 104, 'Yao Ling Ling'
insert @boxOffices select 105, 'The Nut Job 2: Nutty by Nature'
insert @boxOffices select 106, 'Confidential Assignment'
insert @boxOffices select 107, 'The Big Sick'
insert @boxOffices select 108, 'I, Tonya'
insert @boxOffices select 109, 'All the Money in the World'
insert @boxOffices select 110, 'Molly’s Game'
insert @boxOffices select 111, 'Bareilly Ki Barfi'
insert @boxOffices select 112, 'The Outlaws'
insert @boxOffices select 113, '1987: When the Day Comes'
insert @boxOffices select 114, 'Downsizing'
insert @boxOffices select 115, 'Kōng tiān liè'
insert @boxOffices select 116, 'Tyler Perry’s Boo 2! A Madea Halloween'
insert @boxOffices select 117, 'Ji Qi Zhi Xue'
insert @boxOffices select 118, 'Phantom Thread'
insert @boxOffices select 119, 'Rough Night'
insert @boxOffices select 120, 'Qi Man Dun Jia'
insert @boxOffices select 121, 'Er Dai Yao Jing'
insert @boxOffices select 122, 'Gunhamdo'
insert @boxOffices select 123, 'Dvizhenie Vverkh'
insert @boxOffices select 124, 'Gintama'
insert @boxOffices select 125, 'Xin Li Zui'
insert @boxOffices select 126, 'Flatliners'
insert @boxOffices select 127, 'Wind River'
insert @boxOffices select 128, 'Logan Lucky'
insert @boxOffices select 129, 'Namiya Zakkaten no Kiseki'
insert @boxOffices select 130, 'Jìyì dàshī'
insert @boxOffices select 131, 'The Snowman'
insert @boxOffices select 132, 'Hindi Medium'
insert @boxOffices select 133, 'mother!'
insert @boxOffices select 134, 'Bad Genius'
insert @boxOffices select 135, 'Loving Vincent'
insert @boxOffices select 136, 'T2: Trainspotting'
insert @boxOffices select 137, 'Meari to majo no hana'
insert @boxOffices select 138, 'Papita 2da Base'
insert @boxOffices select 139, 'Call Me by Your Name'
insert @boxOffices select 140, 'The Circle'
insert @boxOffices select 141, 'Fist Fight'
insert @boxOffices select 142, 'The King'
insert @boxOffices select 143, 'xiu chun dao II: xiu luo zhan chang'
insert @boxOffices select 144, 'Cheongnyeon Gyeongchal'
insert @boxOffices select 145, 'Home Again'
insert @boxOffices select 146, 'Gifted'
insert @boxOffices select 147, 'The Adventurers'
insert @boxOffices select 148, 'Raid Dingue'
insert @boxOffices select 149, 'Diary of a Wimpy Kid: The Long Haul'
insert @boxOffices select 150, 'Hostiles'
insert @boxOffices select 151, 'Namiya'
insert @boxOffices select 152, 'Destiny: Kamakura Monogatari'
insert @boxOffices select 153, 'Xin Li Zui Zhi Cheng Shi Zhi Guang'
insert @boxOffices select 154, 'Kidnap'
insert @boxOffices select 155, 'Gekijouban Poketto monsutâ: Kimi ni kimeta!'
insert @boxOffices select 156, 'Toilet: Ek Prem Katha'
insert @boxOffices select 157, 'Golmaal Again'
insert @boxOffices select 158, 'Kimi no Suizo wo Tabetai'
insert @boxOffices select 159, 'Gangcheolbi'
insert @boxOffices select 160, 'Tadeo Jones 2: El Secreto del Rey Midas'
insert @boxOffices select 161, 'Jing Cheng 81 Hao 2'
insert @boxOffices select 162, 'Le Sens de la Fête'
insert @boxOffices select 163, 'Gekijo-ban Sword Art Online: Ordinal Scale'
insert @boxOffices select 164, 'The Son of Bigfoot'
insert @boxOffices select 165, 'The House'
insert @boxOffices select 166, 'The Bye Bye Man'
insert @boxOffices select 167, 'This Is Not What I Expected'
insert @boxOffices select 168, 'Contratiempo'
insert @boxOffices select 169, 'Sleepless'
insert @boxOffices select 170, 'ПОСЛЕДНИЙ БОГАТЫРЬ'
insert @boxOffices select 171, 'Ni Shi Ying Jiu'
insert @boxOffices select 172, 'The Swindlers'
insert @boxOffices select 173, 'Namhansanseong'
insert @boxOffices select 174, 'Alibi.com'
insert @boxOffices select 175, 'Recep Ivedik 5'
insert @boxOffices select 176, 'The Beguiled'
insert @boxOffices select 177, 'Judwaa 2'
insert @boxOffices select 178, 'The Disaster Artist'
insert @boxOffices select 179, 'Uchiage Hanabi, Shita Kara Miru ka? Yoko Kara M…'
insert @boxOffices select 180, 'The Zookeeper’s Wife'
insert @boxOffices select 181, 'Perfectos Desconocidos'
insert @boxOffices select 182, 'Love off the Cuff'
insert @boxOffices select 183, 'What Happened to Monday?'
insert @boxOffices select 184, 'Twenty-Two'
insert @boxOffices select 185, 'Jolly LLB 2'
insert @boxOffices select 186, 'Badrinath Ki Dulhania'
insert @boxOffices select 187, 'Only the Brave'
insert @boxOffices select 188, 'A Cure for Wellness'
insert @boxOffices select 189, '8-nengoshi no hanayome'
insert @boxOffices select 190, 'Detroit'
insert @boxOffices select 191, 'Wish Upon'
insert @boxOffices select 192, 'CHiPS'
insert @boxOffices select 193, 'Extraordinary Mission'
insert @boxOffices select 194, 'Ai Kaen Seupikeu'
insert @boxOffices select 195, 'Épouse-moi mon pote'
insert @boxOffices select 196, 'The Prison'
insert @boxOffices select 197, 'Father Figures'
insert @boxOffices select 198, 'Tubelight'
insert @boxOffices select 199, 'Shiwan Ge Lengxiaohua 2'
insert @boxOffices select 200, 'The Death of Stalin'
insert @boxOffices select 201, '22 nenme no Kokuhaku: Watashi ga Satsujinhan desu'
insert @boxOffices select 202, 'Hirugao'
insert @boxOffices select 203, 'Dieses bescheuerte Herz'
insert @boxOffices select 204, 'The Glass Castle'
insert @boxOffices select 205, 'It Comes at Night'
insert @boxOffices select 206, 'Sekigahara'
insert @boxOffices select 207, 'Memoir of a Murderer'
insert @boxOffices select 208, 'Before I Fall'
insert @boxOffices select 209, 'Prityazhenie'
insert @boxOffices select 210, 'Fu zi xiong bing'
insert @boxOffices select 211, 'Jojakdwen doshi'
insert @boxOffices select 212, 'Lipstick Under My Burka'
insert @boxOffices select 213, 'Happy Family'
insert @boxOffices select 214, 'Battle of the Sexes'
insert @boxOffices select 215, 'Listy Do M3'
insert @boxOffices select 216, 'Yôkai Watch 4'
insert @boxOffices select 217, 'Santa & Cie'
insert @boxOffices select 218, 'Zhui bu'
insert @boxOffices select 219, 'Big Baker''s Unlucky Bear'
insert @boxOffices select 220, 'Boangwan'
insert @boxOffices select 221, 'Ao Jiao & Pian Jian'
insert @boxOffices select 222, 'The Case for Christ'
insert @boxOffices select 223, 'Shinobi no kuni'
insert @boxOffices select 224, 'Backkom Bear: Agent 008'
insert @boxOffices select 225, 'Jue zhan shi shen'
insert @boxOffices select 226, 'Jiao Zhu Chuan'
insert @boxOffices select 227, 'The Lost City of Z'
insert @boxOffices select 228, 'Bullyparade: Der Film'
insert @boxOffices select 229, 'Jaesim'
insert @boxOffices select 230, 'Salyut-7'
insert @boxOffices select 231, 'The Space Between Us'
insert @boxOffices select 232, 'Shi Ba Dong Cun'
insert @boxOffices select 233, 'Parkyeol'
insert @boxOffices select 234, 'Fukrey Returns'
insert @boxOffices select 235, 'Qi Shi Qi Tian'
insert @boxOffices select 236, 'Seer Movie 6: Invincible Puni'
insert @boxOffices select 237, 'Yolki 6'
insert @boxOffices select 238, 'Aile Arasında'
insert @boxOffices select 239, 'Au revoir là-haut'
insert @boxOffices select 240, 'Teiichi no kuni'
insert @boxOffices select 241, 'Woody Woodpecker'
insert @boxOffices select 242, 'Kureyon Shinchan: Shūrai! Uchūjin Shiriri'
insert @boxOffices select 243, 'Mix'
insert @boxOffices select 244, 'North East: Past Po Ma Zhang Fei'
insert @boxOffices select 245, 'Partners: The Movie IV'
insert @boxOffices select 246, 'Loving Pablo'
insert @boxOffices select 247, 'Jue Shi Gao Shou'
insert @boxOffices select 248, 'L''école buissonnière'
insert @boxOffices select 249, 'The Game Changer'
insert @boxOffices select 250, 'Ayla'
insert @boxOffices select 251, 'Megan Leavey'
insert @boxOffices select 252, 'Botoks'
insert @boxOffices select 253, 'Tri Bogatyrya i Printsessa Egipta'
insert @boxOffices select 254, 'The Missing'
insert @boxOffices select 255, 'Shen Mo Dao Ji Gong'
insert @boxOffices select 256, 'Boolhandang: Nabbeun Nomdeului Sesang'
insert @boxOffices select 257, 'Wonder Wheel'
insert @boxOffices select 258, 'Hazlo Como Hombre'
insert @boxOffices select 259, 'Nomoohyeonibnida'
insert @boxOffices select 260, 'Sandome no satsujin'
insert @boxOffices select 261, 'A Stork''s Journey'
insert @boxOffices select 262, 'Da Hu Fa'
insert @boxOffices select 263, 'Roman J. Israel, Esq.'
insert @boxOffices select 264, 'Mubarakan'
insert @boxOffices select 265, 'Paris Can Wait'
insert @boxOffices select 266, 'Fate Stay/night: Heaven’s Feel I. Presage Flower'
insert @boxOffices select 267, 'Meri Pyaari Bindu'
insert @boxOffices select 268, 'Their Finest'
insert @boxOffices select 269, 'Gold'
insert @boxOffices select 270, 'Earth: One Amazing Day'
insert @boxOffices select 271, 'Suburbicon'
insert @boxOffices select 272, 'Outrage Coda'
insert @boxOffices select 273, 'Viceroy’s House'
insert @boxOffices select 274, 'Fala Sério, Mãe!'
insert @boxOffices select 275, 'The Florida Project'
insert @boxOffices select 276, 'Les As de la Jungle'
insert @boxOffices select 277, 'The King’s Case Note'
insert @boxOffices select 278, 'Es Por Tu Bien'
insert @boxOffices select 279, 'Kiseki: Anohi no sobito'
insert @boxOffices select 280, 'Jab Harry Met Sejal'
insert @boxOffices select 281, 'Xin Yong Bu Xiao Shi De Dian Bo'
insert @boxOffices select 282, 'Yuen Loeng Taa 77 Chi'
insert @boxOffices select 283, 'L''Ora Legale'
insert @boxOffices select 284, 'Xue Zhan Xiang Jiang'
insert @boxOffices select 285, 'Come Un Gatto in Tangenziale'
insert @boxOffices select 286, 'High & Low The Movie 2 / End of Sky'
insert @boxOffices select 287, 'Buradeo'
insert @boxOffices select 288, 'Le brio'
insert @boxOffices select 289, 'The Belko Experiment'
insert @boxOffices select 290, 'Mister Felicità'
insert @boxOffices select 291, 'Ajin'
insert @boxOffices select 292, 'The Promise'
insert @boxOffices select 293, 'Un Sac De Billes'
insert @boxOffices select 294, 'Baadshaho'
insert @boxOffices select 295, 'El Secreto de Marrowbone'
insert @boxOffices select 296, 'Kolovrat'
insert @boxOffices select 297, 'High Society'
insert @boxOffices select 298, 'Kamen Raidâ Heisei Jenerêshonzu Fainaru: Birudo…'
insert @boxOffices select 299, 'Fan Zhuan Ren Sheng'
insert @boxOffices select 300, 'Kuang Shou'
insert @boxOffices select 301, 'Marshall'
insert @boxOffices select 302, 'Deep'



select *
from (
	select m.MovieId, b.Title
	from @boxOffices as b
	inner join dbo.MovieTitles as t on t.Title = b.Title
	inner join dbo.Movies as m on m.MovieId = t.MovieId
		and m.Year = 2017
	--inner join dbo.MovieExternalRatings as r on r.MovieId = t.MovieId
	--	and r.RatingCount > 500
	where m.MovieTypeId = 1
	group by m.MovieId, b.Title
) as x
full join @boxOffices as b on b.Title = x.Title
left join dbo.Movies as m on m.MovieId = x.MovieId
order by b.Score
--order by x.MovieId