use CMDB;

;with cteTableGuests as (
	select tg.Position
		,tg.GuestId
		,tg.TableId
		,g.Name
	from wed.TableGuests as tg
	inner join wed.Guests as g on g.GuestId = tg.GuestId
),
cteTables as (
	select TableId
		,Name
		,1 as Type
	from wed.Tables
	union all
	select TableId
		,Name
		,2 as Type
	from wed.Tables
)
select t1.Name
	--,t1.TableId
	,g1.Name
	,g2.Name
	,t2.Name
	--,t2.TableId
	,g3.Name
	,g4.Name
from cteTables as t1
left join wed.Tables as t2 on t2.TableId = t1.TableId + 1
left join cteTableGuests as g1 on g1.TableId = t1.TableId
	and ((t1.Type = 1 and g1.Position = 1) or (t1.Type = 2 and g1.Position = 3))
left join cteTableGuests as g2 on g2.TableId = t1.TableId
	and ((t1.Type = 1 and g2.Position = 2) or (t1.Type = 2 and g2.Position = 4))
left join cteTableGuests as g3 on g3.TableId = t2.TableId
	and ((t1.Type = 2 and g3.Position = 1) or (t1.Type = 1 and g3.Position = 3))
left join cteTableGuests as g4 on g4.TableId = t2.TableId
	and ((t1.Type = 2 and g4.Position = 2) or (t1.Type = 1 and g4.Position = 4))
where t1.TableId % 2 = 0
order by t1.TableId

/*
insert wed.TableGuests select 59, 15, 1
insert wed.TableGuests select 60, 15, 2
insert wed.TableGuests select 61, 15, 3
insert wed.TableGuests select 58, 15, 4
*/


/*


SELECT g.GuestId
	,tg.TableId
	,tg.Position
	--,g.Sex
	,g.Name
	,wg.*
  FROM [CMDB].[wed].[WeddingGuests] as wg
  full join CMDB.wed.Guests as g  on g.GuestId = wg.GuestId
  left join cmdb.wed.GuestAddresses as ga on ga.GuestId = g.GuestId
  left join CMDB.wed.TableGuests as tg on tg.GuestId = g.GuestId
where isnull(wg.Dinner, 0) <> 0
--and tg.TableId is null
order by g.GuestId
--order by sex desc



*/


/*

--------------
SubjectTypes
--------------
Math	fas fa-square-root-alt
History	fas fa-landmark
Movies	fas fa-film
Food	fas fa-utensils
Chemistry	fas fa-flask
Geography	fas fa-globe-europe
Sport	fas fa-futbol
Science	fas fa-atom
Countries	fas fa-flag
Economics	fas fa-coins
Music	fas fa-music
Biology	fas fa-tree
Literature	fas fa-book
Religion	fas fa-church
Art	fas fa-palette
Health	fas fa-heartbeat
Weather	fas fa-cloud-sun-rain
Architecture	fas fa-building
Design	
Language	
Enviroment	
Culture

--------------
SingleChoice	fas fa-list-ol
MultiChoice	fas fa-tasks
Text	fas fa-font
MultiText	fas fa-bars
TrueOrFalse	fas fa-question
Sort	fas fa-sort-alpha-up
SortAndMatch	fas fa-th
Pussle	fas fa-puzzle-piece
WordScramble	fas fa-random
OddOneOut	fas fa-balance-scale
Rebus	fas fa-icons
ImageRebus	fas fa-images
SpellCheck	fas fa-spell-check
ClozeTest	fas fa-terminal

------------
--- GAME ---
------------
ChallengeTypes
------------
* SingleChoice
Vilket år är Erik född?
2087
1987
1887
------------
* MultiChoice
Vilket är Eriks favoritmat?
Korvstroganoff
Lasagne
Kyckling
------------
* Text
Vilket är Eriks favoritmat?
------------
* MultiText
Vilka djur finns på följande bild?
(Forest animals, Farm animals, Religioner)
Katt
Hund
Ko
Gris
------------
* TrueOrFalse
Caroline är en sångare!
Sant --- Falskt
--------------
* Sort
--------------
* SortAndMatch
1979 - Star wars - Mark Hamil
2009 - Avatar - Sam Worthington
--------------
* Pussle????
--------------
* WordScramble
declare @word nvarchar(50) = 'WordScramble';
declare @table table (Id uniqueidentifier, Letter nvarchar(1));
declare @position int = 0;
declare @id uniqueidentifier;
while (@position < len(@word))
begin
	set @position = @position + 1;
	insert @table
	select newid(), substring(@word, @position, 1);
end;
set @word = '';
while exists (select 1 from @table)
begin
	set @id = (select top 1 Id from @table order by Id);
	set @word = @word + (select top 1 Letter from @table where Id = @id);
	delete from @table where Id = @id;
end;
select @word;
--------------
* OddOneOut
Flygande fåglar
Kråka - Sparv - Ekkorre - Spjuv
--------------
* Rebus
Det var en gång en {fa-squirrel}
---------------
* ImageRebus
[HUS][HUND][GRÄS] = Lilla huset på prärien
---------------
* SpellCheck
---------------
* ClozeTest
---------------
* 
---------------
* 
---------------
* 
--------------------------------

Jämföra ord => https://stackoverflow.com/questions/6944056/c-sharp-compare-string-similarity


*/
