<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IChaosMoviesService">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://localhost:44318/ChaosMoviesService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IChaosMoviesService"
                contract="ChaosMovieService.IChaosMoviesService" name="BasicHttpBinding_IChaosMoviesService" />
        </client>
    </system.serviceModel>
</configuration>