<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=942-E600446-01\SQL2014;Initial Catalog=CMDB;User Id=CMDB;Password=YZNES7BmFY4ncSMk;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IChaosMoviesService">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://localhost:44318/ChaosMoviesService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IChaosMoviesService"
                contract="ChaosMovieService.IChaosMoviesService" name="BasicHttpBinding_IChaosMoviesService" />
        </client>
    </system.serviceModel>
</configuration>