<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Chaos.Movies.Model.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=942-E600446-01\SQL2014;Initial Catalog=CMDB;User Id=CMDB;Password=YZNES7BmFY4ncSMk;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IChaosMoviesService">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://localhost:44318/ChaosMoviesService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IChaosMoviesService"
                contract="ChaosMovieService.IChaosMoviesService" name="BasicHttpBinding_IChaosMoviesService" />
        </client>
    </system.serviceModel>
    <applicationSettings>
        <Chaos.Movies.Model.Properties.Settings>
            <setting name="UserService" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SystemUserName" serializeAs="String">
                <value>System</value>
            </setting>
            <setting name="SystemPassword" serializeAs="String">
                <value>#4tJk448My3j%H5c</value>
            </setting>
        </Chaos.Movies.Model.Properties.Settings>
    </applicationSettings>
</configuration>