USE [master]
GO
/****** Object:  Database [CMDB]    Script Date: 2015-10-18 10:59:04 ******/
CREATE DATABASE [CMDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CMDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQL2014\MSSQL\DATA\CMDB.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'CMDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQL2014\MSSQL\DATA\CMDB_log.ldf' , SIZE = 1536KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CMDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CMDB]
GO
/****** Object:  Table [dbo].[Acquisitions]    Script Date: 2015-10-18 10:59:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Acquisitions](
	[AcquisitionId] [int] IDENTITY(1,1) NOT NULL,
	[MoviesOwnedByUserId] [int] NOT NULL,
	[AcquiredAt] [date] NULL,
	[DateUncertain] [bit] NULL,
	[VendorId] [int] NULL,
	[Price] [float] NULL,
 CONSTRAINT [PK_Acquisitions] PRIMARY KEY CLUSTERED 
(
	[AcquisitionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ActorsAsCharacters]    Script Date: 2015-10-18 10:59:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ActorsAsCharacters](
	[PersonId] [int] NOT NULL,
	[CharacterInMovieId] [int] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_ActorsAsCharacters] PRIMARY KEY CLUSTERED 
(
	[PersonId] ASC,
	[CharacterInMovieId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Characters]    Script Date: 2015-10-18 10:59:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Characters](
	[CharacterId] [int] IDENTITY(1,1) NOT NULL,
	[ImdbId] [varchar](50) NULL,
	[Name] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Characters] PRIMARY KEY CLUSTERED 
(
	[CharacterId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CharactersInMovies]    Script Date: 2015-10-18 10:59:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CharactersInMovies](
	[CharacterInMovieId] [int] IDENTITY(1,1) NOT NULL,
	[CharacterId] [int] NOT NULL,
	[MovieId] [int] NOT NULL,
 CONSTRAINT [PK_CharactersInMovies] PRIMARY KEY CLUSTERED 
(
	[CharacterInMovieId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UK_CharactersInMovies] UNIQUE NONCLUSTERED 
(
	[CharacterId] ASC,
	[MovieId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Collections]    Script Date: 2015-10-18 10:59:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Collections](
	[CollectionId] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](100) NOT NULL,
	[CollectionTypeId] [int] NOT NULL,
 CONSTRAINT [PK_Collections] PRIMARY KEY CLUSTERED 
(
	[CollectionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CollectionTitles]    Script Date: 2015-10-18 10:59:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CollectionTitles](
	[CollectionId] [int] NOT NULL,
	[Language] [nvarchar](5) NOT NULL,
	[Title] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_CollectionTitles] PRIMARY KEY CLUSTERED 
(
	[CollectionId] ASC,
	[Language] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CollectionTypes]    Script Date: 2015-10-18 10:59:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CollectionTypes](
	[CollectionTypeId] [int] IDENTITY(1,1) NOT NULL,
	[Title] [varchar](50) NOT NULL,
 CONSTRAINT [PK_CollectionTypes] PRIMARY KEY CLUSTERED 
(
	[CollectionTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Departments]    Script Date: 2015-10-18 10:59:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departments](
	[DepartmentId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Departments] PRIMARY KEY CLUSTERED 
(
	[DepartmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Genres]    Script Date: 2015-10-18 10:59:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Genres](
	[GenreId] [int] IDENTITY(1,1) NOT NULL,
	[ImdbId] [varchar](50) NULL,
	[TmdbId] [int] NULL,
 CONSTRAINT [PK_Genres] PRIMARY KEY CLUSTERED 
(
	[GenreId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[GenreTitles]    Script Date: 2015-10-18 10:59:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GenreTitles](
	[GenreId] [int] NOT NULL,
	[Language] [nvarchar](5) NOT NULL,
	[Title] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_GenreTitles] PRIMARY KEY CLUSTERED 
(
	[GenreId] ASC,
	[Language] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Icons]    Script Date: 2015-10-18 10:59:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Icons](
	[IconId] [int] IDENTITY(1,1) NOT NULL,
	[IconTypeId] [int] NOT NULL,
	[TmdbPath] [varchar](100) NULL,
 CONSTRAINT [PK_Icons] PRIMARY KEY CLUSTERED 
(
	[IconId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[IconsInCharacters]    Script Date: 2015-10-18 10:59:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IconsInCharacters](
	[IconId] [int] NOT NULL,
	[CharacterId] [int] NOT NULL,
	[Order] [int] NOT NULL,
 CONSTRAINT [PK_IconsInCharacters] PRIMARY KEY CLUSTERED 
(
	[IconId] ASC,
	[CharacterId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[IconsInCollections]    Script Date: 2015-10-18 10:59:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IconsInCollections](
	[IconId] [int] NOT NULL,
	[CollectionId] [int] NOT NULL,
	[Order] [int] NOT NULL,
 CONSTRAINT [PK_IconsInCollections] PRIMARY KEY CLUSTERED 
(
	[IconId] ASC,
	[CollectionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[IconsInMovies]    Script Date: 2015-10-18 10:59:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IconsInMovies](
	[IconId] [int] NOT NULL,
	[MovieId] [int] NOT NULL,
	[Order] [int] NOT NULL,
 CONSTRAINT [PK_IconsInMovies] PRIMARY KEY CLUSTERED 
(
	[IconId] ASC,
	[MovieId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[IconsInPeople]    Script Date: 2015-10-18 10:59:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IconsInPeople](
	[IconId] [int] NOT NULL,
	[PersonId] [int] NOT NULL,
	[Order] [int] NOT NULL,
 CONSTRAINT [PK_IconsInPeople] PRIMARY KEY CLUSTERED 
(
	[IconId] ASC,
	[PersonId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[IconTypes]    Script Date: 2015-10-18 10:59:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[IconTypes](
	[IconTypeId] [int] IDENTITY(1,1) NOT NULL,
	[Title] [varchar](50) NOT NULL,
 CONSTRAINT [PK_IconTypes] PRIMARY KEY CLUSTERED 
(
	[IconTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Movies]    Script Date: 2015-10-18 10:59:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Movies](
	[MovieId] [int] IDENTITY(1,1) NOT NULL,
	[ImdbId] [varchar](50) NULL,
	[TmdbId] [int] NULL,
 CONSTRAINT [PK_Movies] PRIMARY KEY CLUSTERED 
(
	[MovieId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MoviesInCollections]    Script Date: 2015-10-18 10:59:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MoviesInCollections](
	[MovieId] [int] NOT NULL,
	[CollectionId] [int] NOT NULL,
	[Order] [int] NULL,
 CONSTRAINT [PK_MoviesInCollection] PRIMARY KEY CLUSTERED 
(
	[MovieId] ASC,
	[CollectionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MoviesInGenres]    Script Date: 2015-10-18 10:59:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MoviesInGenres](
	[MovieId] [int] NOT NULL,
	[GenreId] [int] NOT NULL,
 CONSTRAINT [PK_MoviesInGenres] PRIMARY KEY CLUSTERED 
(
	[MovieId] ASC,
	[GenreId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MoviesOwnedByUser]    Script Date: 2015-10-18 10:59:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MoviesOwnedByUser](
	[MoviesOwnedByUserId] [int] IDENTITY(1,1) NOT NULL,
	[MovieId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[DVD] [bit] NOT NULL,
	[BD] [bit] NOT NULL,
	[Digital] [bit] NOT NULL,
 CONSTRAINT [PK_MoviesOwnedByUser] PRIMARY KEY CLUSTERED 
(
	[MoviesOwnedByUserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UK_MoviesOwnedByUser] UNIQUE NONCLUSTERED 
(
	[MovieId] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MoviesWatchedByUser]    Script Date: 2015-10-18 10:59:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MoviesWatchedByUser](
	[MoviesWatchedByUserId] [int] NOT NULL,
	[MovieId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[WatchedDate] [date] NOT NULL,
	[DateUncertain] [bit] NOT NULL,
	[WatchLocationId] [int] NULL,
	[WatchTypeId] [int] NULL,
 CONSTRAINT [PK_MoviesWatchedByUser_1] PRIMARY KEY CLUSTERED 
(
	[MoviesWatchedByUserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MovieTitles]    Script Date: 2015-10-18 10:59:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MovieTitles](
	[MovieId] [int] NOT NULL,
	[Language] [nvarchar](5) NOT NULL,
	[Title] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_MovieTitle] PRIMARY KEY CLUSTERED 
(
	[MovieId] ASC,
	[Language] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[People]    Script Date: 2015-10-18 10:59:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[People](
	[PersonId] [int] NOT NULL,
	[ImdbId] [varchar](50) NULL,
	[TmdbId] [int] NULL,
	[Name] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_People] PRIMARY KEY CLUSTERED 
(
	[PersonId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PeopleInMovies]    Script Date: 2015-10-18 10:59:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PeopleInMovies](
	[PersonInMovieId] [int] IDENTITY(1,1) NOT NULL,
	[PersonId] [int] NOT NULL,
	[MovieId] [int] NOT NULL,
 CONSTRAINT [PK_PeopleInMovies] PRIMARY KEY CLUSTERED 
(
	[PersonInMovieId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UK_PeopleInMovies] UNIQUE NONCLUSTERED 
(
	[PersonId] ASC,
	[MovieId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PersonInMovieRoles]    Script Date: 2015-10-18 10:59:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PersonInMovieRoles](
	[PersonInMovieRoleId] [int] IDENTITY(1,1) NOT NULL,
	[PersonInMovieId] [int] NOT NULL,
	[RoleInDepartmentId] [int] NOT NULL,
 CONSTRAINT [PK_PersonInMovieRoles_1] PRIMARY KEY CLUSTERED 
(
	[PersonInMovieRoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UK_PersonInMovieRoles] UNIQUE NONCLUSTERED 
(
	[PersonInMovieId] ASC,
	[RoleInDepartmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[RatingSystems]    Script Date: 2015-10-18 10:59:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RatingSystems](
	[RatingSystemId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](500) NULL,
 CONSTRAINT [PK_RatingSystems] PRIMARY KEY CLUSTERED 
(
	[RatingSystemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[RatingSystemValues]    Script Date: 2015-10-18 10:59:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RatingSystemValues](
	[RatingSystemId] [int] NOT NULL,
	[RatingTypeId] [int] NOT NULL,
	[Weight] [smallint] NOT NULL,
 CONSTRAINT [PK_RatingSystemValues] PRIMARY KEY CLUSTERED 
(
	[RatingSystemId] ASC,
	[RatingTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[RatingTypes]    Script Date: 2015-10-18 10:59:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RatingTypes](
	[RatingTypeId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[ParentRatingTypeId] [int] NULL,
 CONSTRAINT [PK_RatingTypes] PRIMARY KEY CLUSTERED 
(
	[RatingTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Roles]    Script Date: 2015-10-18 10:59:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[RolesInDepartments]    Script Date: 2015-10-18 10:59:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RolesInDepartments](
	[RoleInDepartmentId] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [int] NOT NULL,
	[DepartmentId] [int] NOT NULL,
 CONSTRAINT [PK_RolesInDepartments_1] PRIMARY KEY CLUSTERED 
(
	[RoleInDepartmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UK_RolesInDepartments] UNIQUE NONCLUSTERED 
(
	[DepartmentId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UserCharacterInMovieRatings]    Script Date: 2015-10-18 10:59:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserCharacterInMovieRatings](
	[UserId] [int] NOT NULL,
	[CharacterInMovieId] [int] NOT NULL,
	[Rating] [smallint] NOT NULL,
 CONSTRAINT [PK_UserCharacterInMovieRatings] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[CharacterInMovieId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UserMovieFavorites]    Script Date: 2015-10-18 10:59:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserMovieFavorites](
	[MovieId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
 CONSTRAINT [PK_UserMovieFavorites] PRIMARY KEY CLUSTERED 
(
	[MovieId] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UserMovieGenres]    Script Date: 2015-10-18 10:59:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserMovieGenres](
	[UserId] [int] NOT NULL,
	[MovieId] [int] NOT NULL,
	[GenreId] [int] NOT NULL,
	[Rating] [smallint] NOT NULL,
 CONSTRAINT [PK_UserMovieGenres] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[MovieId] ASC,
	[GenreId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UserMovieRatings]    Script Date: 2015-10-18 10:59:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserMovieRatings](
	[UserId] [int] NOT NULL,
	[MovieId] [int] NOT NULL,
	[RatingTypeId] [int] NOT NULL,
	[Rating] [smallint] NOT NULL,
 CONSTRAINT [PK_UserMovieRatings_1] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[MovieId] ASC,
	[RatingTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UK_UserMovieRatings] UNIQUE NONCLUSTERED 
(
	[UserId] ASC,
	[MovieId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UserMovieWishlist]    Script Date: 2015-10-18 10:59:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserMovieWishlist](
	[UserId] [int] NOT NULL,
	[MovieId] [int] NOT NULL,
	[Rating] [smallint] NOT NULL,
 CONSTRAINT [PK_UserMovieWishlist] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[MovieId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UserPeopleFavorites]    Script Date: 2015-10-18 10:59:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserPeopleFavorites](
	[UserId] [int] NOT NULL,
	[PersonId] [int] NOT NULL,
 CONSTRAINT [PK_UserPeopleFavorites] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[PersonId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UserPersonInMovieRoleRatings]    Script Date: 2015-10-18 10:59:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserPersonInMovieRoleRatings](
	[UserId] [int] NOT NULL,
	[PersonInMovieRoleId] [int] NOT NULL,
	[Rating] [smallint] NOT NULL,
 CONSTRAINT [PK_UserPersonInMovieRoleRatings] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[PersonInMovieRoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Users]    Script Date: 2015-10-18 10:59:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UserWatchLocations]    Script Date: 2015-10-18 10:59:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserWatchLocations](
	[UserId] [int] NOT NULL,
	[WatchLocationId] [int] NOT NULL,
 CONSTRAINT [PK_UserWatchLocations] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[WatchLocationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[WatchLocations]    Script Date: 2015-10-18 10:59:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WatchLocations](
	[WatchLocationId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_WatchLocations] PRIMARY KEY CLUSTERED 
(
	[WatchLocationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[WatchTypes]    Script Date: 2015-10-18 10:59:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WatchTypes](
	[WatchTypeId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_WatchTypes] PRIMARY KEY CLUSTERED 
(
	[WatchTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[WatchTypesAtWatchLocations]    Script Date: 2015-10-18 10:59:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WatchTypesAtWatchLocations](
	[WatchLocationId] [int] NOT NULL,
	[WatchTypeId] [int] NOT NULL,
 CONSTRAINT [PK_WatchTypesAtWatchLocations] PRIMARY KEY CLUSTERED 
(
	[WatchLocationId] ASC,
	[WatchTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Vendors]    Script Date: 2015-10-18 10:59:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vendors](
	[VendorId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Vendors] PRIMARY KEY CLUSTERED 
(
	[VendorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[MoviesWatchedByUser] ADD  CONSTRAINT [DF_MoviesWatchedByUser_DateUncertain]  DEFAULT ((0)) FOR [DateUncertain]
GO
ALTER TABLE [dbo].[UserCharacterInMovieRatings] ADD  CONSTRAINT [DF_UserCharacterInMovieRatings_Rating]  DEFAULT ((0)) FOR [Rating]
GO
ALTER TABLE [dbo].[UserMovieGenres] ADD  CONSTRAINT [DF_UserMovieGenres_Rating]  DEFAULT ((0)) FOR [Rating]
GO
ALTER TABLE [dbo].[UserMovieRatings] ADD  CONSTRAINT [DF_UserMovieRatings_Rating]  DEFAULT ((0)) FOR [Rating]
GO
ALTER TABLE [dbo].[UserMovieWishlist] ADD  CONSTRAINT [DF_UserMovieWishlist_Rating]  DEFAULT ((0)) FOR [Rating]
GO
ALTER TABLE [dbo].[UserPersonInMovieRoleRatings] ADD  CONSTRAINT [DF_UserPersonInMovieRoleRatings_Rating]  DEFAULT ((0)) FOR [Rating]
GO
ALTER TABLE [dbo].[Acquisitions]  WITH CHECK ADD  CONSTRAINT [FK_Acquisitions_MoviesOwnedByUser] FOREIGN KEY([MoviesOwnedByUserId])
REFERENCES [dbo].[MoviesOwnedByUser] ([MoviesOwnedByUserId])
GO
ALTER TABLE [dbo].[Acquisitions] CHECK CONSTRAINT [FK_Acquisitions_MoviesOwnedByUser]
GO
ALTER TABLE [dbo].[Acquisitions]  WITH CHECK ADD  CONSTRAINT [FK_Acquisitions_Vendors] FOREIGN KEY([VendorId])
REFERENCES [dbo].[Vendors] ([VendorId])
GO
ALTER TABLE [dbo].[Acquisitions] CHECK CONSTRAINT [FK_Acquisitions_Vendors]
GO
ALTER TABLE [dbo].[ActorsAsCharacters]  WITH CHECK ADD  CONSTRAINT [FK_ActorsAsCharacters_CharactersInMovies] FOREIGN KEY([CharacterInMovieId])
REFERENCES [dbo].[CharactersInMovies] ([CharacterInMovieId])
GO
ALTER TABLE [dbo].[ActorsAsCharacters] CHECK CONSTRAINT [FK_ActorsAsCharacters_CharactersInMovies]
GO
ALTER TABLE [dbo].[ActorsAsCharacters]  WITH CHECK ADD  CONSTRAINT [FK_ActorsAsCharacters_People] FOREIGN KEY([PersonId])
REFERENCES [dbo].[People] ([PersonId])
GO
ALTER TABLE [dbo].[ActorsAsCharacters] CHECK CONSTRAINT [FK_ActorsAsCharacters_People]
GO
ALTER TABLE [dbo].[CharactersInMovies]  WITH CHECK ADD  CONSTRAINT [FK_CharactersInMovies_Characters] FOREIGN KEY([CharacterId])
REFERENCES [dbo].[Characters] ([CharacterId])
GO
ALTER TABLE [dbo].[CharactersInMovies] CHECK CONSTRAINT [FK_CharactersInMovies_Characters]
GO
ALTER TABLE [dbo].[CharactersInMovies]  WITH CHECK ADD  CONSTRAINT [FK_CharactersInMovies_Movies] FOREIGN KEY([MovieId])
REFERENCES [dbo].[Movies] ([MovieId])
GO
ALTER TABLE [dbo].[CharactersInMovies] CHECK CONSTRAINT [FK_CharactersInMovies_Movies]
GO
ALTER TABLE [dbo].[Collections]  WITH CHECK ADD  CONSTRAINT [FK_Collections_CollectionTypes] FOREIGN KEY([CollectionTypeId])
REFERENCES [dbo].[CollectionTypes] ([CollectionTypeId])
GO
ALTER TABLE [dbo].[Collections] CHECK CONSTRAINT [FK_Collections_CollectionTypes]
GO
ALTER TABLE [dbo].[CollectionTitles]  WITH CHECK ADD  CONSTRAINT [FK_CollectionTitles_Collections] FOREIGN KEY([CollectionId])
REFERENCES [dbo].[Collections] ([CollectionId])
GO
ALTER TABLE [dbo].[CollectionTitles] CHECK CONSTRAINT [FK_CollectionTitles_Collections]
GO
ALTER TABLE [dbo].[GenreTitles]  WITH CHECK ADD  CONSTRAINT [FK_GenreTitles_Genres] FOREIGN KEY([GenreId])
REFERENCES [dbo].[Genres] ([GenreId])
GO
ALTER TABLE [dbo].[GenreTitles] CHECK CONSTRAINT [FK_GenreTitles_Genres]
GO
ALTER TABLE [dbo].[Icons]  WITH CHECK ADD  CONSTRAINT [FK_Icons_IconTypes] FOREIGN KEY([IconTypeId])
REFERENCES [dbo].[IconTypes] ([IconTypeId])
GO
ALTER TABLE [dbo].[Icons] CHECK CONSTRAINT [FK_Icons_IconTypes]
GO
ALTER TABLE [dbo].[IconsInCharacters]  WITH CHECK ADD  CONSTRAINT [FK_IconsInCharacters_Characters] FOREIGN KEY([CharacterId])
REFERENCES [dbo].[Characters] ([CharacterId])
GO
ALTER TABLE [dbo].[IconsInCharacters] CHECK CONSTRAINT [FK_IconsInCharacters_Characters]
GO
ALTER TABLE [dbo].[IconsInCharacters]  WITH CHECK ADD  CONSTRAINT [FK_IconsInCharacters_Icons] FOREIGN KEY([IconId])
REFERENCES [dbo].[Icons] ([IconId])
GO
ALTER TABLE [dbo].[IconsInCharacters] CHECK CONSTRAINT [FK_IconsInCharacters_Icons]
GO
ALTER TABLE [dbo].[IconsInCollections]  WITH CHECK ADD  CONSTRAINT [FK_IconsInCollections_Collections] FOREIGN KEY([CollectionId])
REFERENCES [dbo].[Collections] ([CollectionId])
GO
ALTER TABLE [dbo].[IconsInCollections] CHECK CONSTRAINT [FK_IconsInCollections_Collections]
GO
ALTER TABLE [dbo].[IconsInCollections]  WITH CHECK ADD  CONSTRAINT [FK_IconsInCollections_Icons] FOREIGN KEY([IconId])
REFERENCES [dbo].[Icons] ([IconId])
GO
ALTER TABLE [dbo].[IconsInCollections] CHECK CONSTRAINT [FK_IconsInCollections_Icons]
GO
ALTER TABLE [dbo].[IconsInMovies]  WITH CHECK ADD  CONSTRAINT [FK_IconsInMovies_Icons] FOREIGN KEY([IconId])
REFERENCES [dbo].[Icons] ([IconId])
GO
ALTER TABLE [dbo].[IconsInMovies] CHECK CONSTRAINT [FK_IconsInMovies_Icons]
GO
ALTER TABLE [dbo].[IconsInMovies]  WITH CHECK ADD  CONSTRAINT [FK_IconsInMovies_Movies] FOREIGN KEY([MovieId])
REFERENCES [dbo].[Movies] ([MovieId])
GO
ALTER TABLE [dbo].[IconsInMovies] CHECK CONSTRAINT [FK_IconsInMovies_Movies]
GO
ALTER TABLE [dbo].[IconsInPeople]  WITH CHECK ADD  CONSTRAINT [FK_IconsInPeople_Icons] FOREIGN KEY([IconId])
REFERENCES [dbo].[Icons] ([IconId])
GO
ALTER TABLE [dbo].[IconsInPeople] CHECK CONSTRAINT [FK_IconsInPeople_Icons]
GO
ALTER TABLE [dbo].[IconsInPeople]  WITH CHECK ADD  CONSTRAINT [FK_IconsInPeople_People] FOREIGN KEY([PersonId])
REFERENCES [dbo].[People] ([PersonId])
GO
ALTER TABLE [dbo].[IconsInPeople] CHECK CONSTRAINT [FK_IconsInPeople_People]
GO
ALTER TABLE [dbo].[MoviesInCollections]  WITH CHECK ADD  CONSTRAINT [FK_MoviesInCollection_Collections] FOREIGN KEY([CollectionId])
REFERENCES [dbo].[Collections] ([CollectionId])
GO
ALTER TABLE [dbo].[MoviesInCollections] CHECK CONSTRAINT [FK_MoviesInCollection_Collections]
GO
ALTER TABLE [dbo].[MoviesInCollections]  WITH CHECK ADD  CONSTRAINT [FK_MoviesInCollection_Movies] FOREIGN KEY([MovieId])
REFERENCES [dbo].[Movies] ([MovieId])
GO
ALTER TABLE [dbo].[MoviesInCollections] CHECK CONSTRAINT [FK_MoviesInCollection_Movies]
GO
ALTER TABLE [dbo].[MoviesInGenres]  WITH CHECK ADD  CONSTRAINT [FK_MoviesInGenres_Genres] FOREIGN KEY([GenreId])
REFERENCES [dbo].[Genres] ([GenreId])
GO
ALTER TABLE [dbo].[MoviesInGenres] CHECK CONSTRAINT [FK_MoviesInGenres_Genres]
GO
ALTER TABLE [dbo].[MoviesInGenres]  WITH CHECK ADD  CONSTRAINT [FK_MoviesInGenres_Movies] FOREIGN KEY([MovieId])
REFERENCES [dbo].[Movies] ([MovieId])
GO
ALTER TABLE [dbo].[MoviesInGenres] CHECK CONSTRAINT [FK_MoviesInGenres_Movies]
GO
ALTER TABLE [dbo].[MoviesOwnedByUser]  WITH CHECK ADD  CONSTRAINT [FK_MoviesOwnedByUser_Movies] FOREIGN KEY([MovieId])
REFERENCES [dbo].[Movies] ([MovieId])
GO
ALTER TABLE [dbo].[MoviesOwnedByUser] CHECK CONSTRAINT [FK_MoviesOwnedByUser_Movies]
GO
ALTER TABLE [dbo].[MoviesOwnedByUser]  WITH CHECK ADD  CONSTRAINT [FK_MoviesOwnedByUser_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[MoviesOwnedByUser] CHECK CONSTRAINT [FK_MoviesOwnedByUser_Users]
GO
ALTER TABLE [dbo].[MoviesWatchedByUser]  WITH CHECK ADD  CONSTRAINT [FK_MoviesWatchedByUser_Movies] FOREIGN KEY([MovieId])
REFERENCES [dbo].[Movies] ([MovieId])
GO
ALTER TABLE [dbo].[MoviesWatchedByUser] CHECK CONSTRAINT [FK_MoviesWatchedByUser_Movies]
GO
ALTER TABLE [dbo].[MoviesWatchedByUser]  WITH CHECK ADD  CONSTRAINT [FK_MoviesWatchedByUser_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[MoviesWatchedByUser] CHECK CONSTRAINT [FK_MoviesWatchedByUser_Users]
GO
ALTER TABLE [dbo].[MoviesWatchedByUser]  WITH CHECK ADD  CONSTRAINT [FK_MoviesWatchedByUser_WatchLocations] FOREIGN KEY([WatchLocationId])
REFERENCES [dbo].[WatchLocations] ([WatchLocationId])
GO
ALTER TABLE [dbo].[MoviesWatchedByUser] CHECK CONSTRAINT [FK_MoviesWatchedByUser_WatchLocations]
GO
ALTER TABLE [dbo].[MoviesWatchedByUser]  WITH CHECK ADD  CONSTRAINT [FK_MoviesWatchedByUser_WatchTypes] FOREIGN KEY([WatchTypeId])
REFERENCES [dbo].[WatchTypes] ([WatchTypeId])
GO
ALTER TABLE [dbo].[MoviesWatchedByUser] CHECK CONSTRAINT [FK_MoviesWatchedByUser_WatchTypes]
GO
ALTER TABLE [dbo].[MovieTitles]  WITH CHECK ADD  CONSTRAINT [FK_MovieTitle_Movies] FOREIGN KEY([MovieId])
REFERENCES [dbo].[Movies] ([MovieId])
GO
ALTER TABLE [dbo].[MovieTitles] CHECK CONSTRAINT [FK_MovieTitle_Movies]
GO
ALTER TABLE [dbo].[PeopleInMovies]  WITH CHECK ADD  CONSTRAINT [FK_PeopleInMovies_Movies] FOREIGN KEY([MovieId])
REFERENCES [dbo].[Movies] ([MovieId])
GO
ALTER TABLE [dbo].[PeopleInMovies] CHECK CONSTRAINT [FK_PeopleInMovies_Movies]
GO
ALTER TABLE [dbo].[PeopleInMovies]  WITH CHECK ADD  CONSTRAINT [FK_PeopleInMovies_People] FOREIGN KEY([PersonId])
REFERENCES [dbo].[People] ([PersonId])
GO
ALTER TABLE [dbo].[PeopleInMovies] CHECK CONSTRAINT [FK_PeopleInMovies_People]
GO
ALTER TABLE [dbo].[PersonInMovieRoles]  WITH CHECK ADD  CONSTRAINT [FK_PersonInMovieRoles_PeopleInMovies] FOREIGN KEY([PersonInMovieId])
REFERENCES [dbo].[PeopleInMovies] ([PersonInMovieId])
GO
ALTER TABLE [dbo].[PersonInMovieRoles] CHECK CONSTRAINT [FK_PersonInMovieRoles_PeopleInMovies]
GO
ALTER TABLE [dbo].[PersonInMovieRoles]  WITH CHECK ADD  CONSTRAINT [FK_PersonInMovieRoles_RolesInDepartments] FOREIGN KEY([RoleInDepartmentId])
REFERENCES [dbo].[RolesInDepartments] ([RoleInDepartmentId])
GO
ALTER TABLE [dbo].[PersonInMovieRoles] CHECK CONSTRAINT [FK_PersonInMovieRoles_RolesInDepartments]
GO
ALTER TABLE [dbo].[RatingSystemValues]  WITH CHECK ADD  CONSTRAINT [FK_RatingSystemValues_RatingSystems] FOREIGN KEY([RatingSystemId])
REFERENCES [dbo].[RatingSystems] ([RatingSystemId])
GO
ALTER TABLE [dbo].[RatingSystemValues] CHECK CONSTRAINT [FK_RatingSystemValues_RatingSystems]
GO
ALTER TABLE [dbo].[RatingSystemValues]  WITH CHECK ADD  CONSTRAINT [FK_RatingSystemValues_RatingTypes] FOREIGN KEY([RatingTypeId])
REFERENCES [dbo].[RatingTypes] ([RatingTypeId])
GO
ALTER TABLE [dbo].[RatingSystemValues] CHECK CONSTRAINT [FK_RatingSystemValues_RatingTypes]
GO
ALTER TABLE [dbo].[RatingTypes]  WITH CHECK ADD  CONSTRAINT [FK_RatingTypes_RatingTypes] FOREIGN KEY([ParentRatingTypeId])
REFERENCES [dbo].[RatingTypes] ([RatingTypeId])
GO
ALTER TABLE [dbo].[RatingTypes] CHECK CONSTRAINT [FK_RatingTypes_RatingTypes]
GO
ALTER TABLE [dbo].[RolesInDepartments]  WITH CHECK ADD  CONSTRAINT [FK_RolesInDepartments_Departments] FOREIGN KEY([DepartmentId])
REFERENCES [dbo].[Departments] ([DepartmentId])
GO
ALTER TABLE [dbo].[RolesInDepartments] CHECK CONSTRAINT [FK_RolesInDepartments_Departments]
GO
ALTER TABLE [dbo].[RolesInDepartments]  WITH CHECK ADD  CONSTRAINT [FK_RolesInDepartments_Roles] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([RoleId])
GO
ALTER TABLE [dbo].[RolesInDepartments] CHECK CONSTRAINT [FK_RolesInDepartments_Roles]
GO
ALTER TABLE [dbo].[UserCharacterInMovieRatings]  WITH CHECK ADD  CONSTRAINT [FK_UserCharacterInMovieRatings_CharactersInMovies] FOREIGN KEY([CharacterInMovieId])
REFERENCES [dbo].[CharactersInMovies] ([CharacterInMovieId])
GO
ALTER TABLE [dbo].[UserCharacterInMovieRatings] CHECK CONSTRAINT [FK_UserCharacterInMovieRatings_CharactersInMovies]
GO
ALTER TABLE [dbo].[UserCharacterInMovieRatings]  WITH CHECK ADD  CONSTRAINT [FK_UserCharacterInMovieRatings_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[UserCharacterInMovieRatings] CHECK CONSTRAINT [FK_UserCharacterInMovieRatings_Users]
GO
ALTER TABLE [dbo].[UserMovieFavorites]  WITH CHECK ADD  CONSTRAINT [FK_UserMovieFavorites_Movies] FOREIGN KEY([MovieId])
REFERENCES [dbo].[Movies] ([MovieId])
GO
ALTER TABLE [dbo].[UserMovieFavorites] CHECK CONSTRAINT [FK_UserMovieFavorites_Movies]
GO
ALTER TABLE [dbo].[UserMovieFavorites]  WITH CHECK ADD  CONSTRAINT [FK_UserMovieFavorites_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[UserMovieFavorites] CHECK CONSTRAINT [FK_UserMovieFavorites_Users]
GO
ALTER TABLE [dbo].[UserMovieGenres]  WITH CHECK ADD  CONSTRAINT [FK_UserMovieGenres_Genres] FOREIGN KEY([GenreId])
REFERENCES [dbo].[Genres] ([GenreId])
GO
ALTER TABLE [dbo].[UserMovieGenres] CHECK CONSTRAINT [FK_UserMovieGenres_Genres]
GO
ALTER TABLE [dbo].[UserMovieGenres]  WITH CHECK ADD  CONSTRAINT [FK_UserMovieGenres_Movies] FOREIGN KEY([MovieId])
REFERENCES [dbo].[Movies] ([MovieId])
GO
ALTER TABLE [dbo].[UserMovieGenres] CHECK CONSTRAINT [FK_UserMovieGenres_Movies]
GO
ALTER TABLE [dbo].[UserMovieGenres]  WITH CHECK ADD  CONSTRAINT [FK_UserMovieGenres_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[UserMovieGenres] CHECK CONSTRAINT [FK_UserMovieGenres_Users]
GO
ALTER TABLE [dbo].[UserMovieRatings]  WITH CHECK ADD  CONSTRAINT [FK_UserMovieRatings_Movies] FOREIGN KEY([MovieId])
REFERENCES [dbo].[Movies] ([MovieId])
GO
ALTER TABLE [dbo].[UserMovieRatings] CHECK CONSTRAINT [FK_UserMovieRatings_Movies]
GO
ALTER TABLE [dbo].[UserMovieRatings]  WITH CHECK ADD  CONSTRAINT [FK_UserMovieRatings_RatingTypes] FOREIGN KEY([RatingTypeId])
REFERENCES [dbo].[RatingTypes] ([RatingTypeId])
GO
ALTER TABLE [dbo].[UserMovieRatings] CHECK CONSTRAINT [FK_UserMovieRatings_RatingTypes]
GO
ALTER TABLE [dbo].[UserMovieRatings]  WITH CHECK ADD  CONSTRAINT [FK_UserMovieRatings_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[UserMovieRatings] CHECK CONSTRAINT [FK_UserMovieRatings_Users]
GO
ALTER TABLE [dbo].[UserMovieWishlist]  WITH CHECK ADD  CONSTRAINT [FK_UserMovieWishlist_Movies] FOREIGN KEY([MovieId])
REFERENCES [dbo].[Movies] ([MovieId])
GO
ALTER TABLE [dbo].[UserMovieWishlist] CHECK CONSTRAINT [FK_UserMovieWishlist_Movies]
GO
ALTER TABLE [dbo].[UserMovieWishlist]  WITH CHECK ADD  CONSTRAINT [FK_UserMovieWishlist_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[UserMovieWishlist] CHECK CONSTRAINT [FK_UserMovieWishlist_Users]
GO
ALTER TABLE [dbo].[UserPeopleFavorites]  WITH CHECK ADD  CONSTRAINT [FK_UserPeopleFavorites_People] FOREIGN KEY([PersonId])
REFERENCES [dbo].[People] ([PersonId])
GO
ALTER TABLE [dbo].[UserPeopleFavorites] CHECK CONSTRAINT [FK_UserPeopleFavorites_People]
GO
ALTER TABLE [dbo].[UserPeopleFavorites]  WITH CHECK ADD  CONSTRAINT [FK_UserPeopleFavorites_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[UserPeopleFavorites] CHECK CONSTRAINT [FK_UserPeopleFavorites_Users]
GO
ALTER TABLE [dbo].[UserPersonInMovieRoleRatings]  WITH CHECK ADD  CONSTRAINT [FK_UserPersonInMovieRoleRatings_PersonInMovieRoles] FOREIGN KEY([PersonInMovieRoleId])
REFERENCES [dbo].[PersonInMovieRoles] ([PersonInMovieRoleId])
GO
ALTER TABLE [dbo].[UserPersonInMovieRoleRatings] CHECK CONSTRAINT [FK_UserPersonInMovieRoleRatings_PersonInMovieRoles]
GO
ALTER TABLE [dbo].[UserPersonInMovieRoleRatings]  WITH CHECK ADD  CONSTRAINT [FK_UserPersonInMovieRoleRatings_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[UserPersonInMovieRoleRatings] CHECK CONSTRAINT [FK_UserPersonInMovieRoleRatings_Users]
GO
ALTER TABLE [dbo].[UserWatchLocations]  WITH CHECK ADD  CONSTRAINT [FK_UserWatchLocations_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[UserWatchLocations] CHECK CONSTRAINT [FK_UserWatchLocations_Users]
GO
ALTER TABLE [dbo].[UserWatchLocations]  WITH CHECK ADD  CONSTRAINT [FK_UserWatchLocations_WatchLocations] FOREIGN KEY([WatchLocationId])
REFERENCES [dbo].[WatchLocations] ([WatchLocationId])
GO
ALTER TABLE [dbo].[UserWatchLocations] CHECK CONSTRAINT [FK_UserWatchLocations_WatchLocations]
GO
ALTER TABLE [dbo].[WatchTypesAtWatchLocations]  WITH CHECK ADD  CONSTRAINT [FK_WatchTypesAtWatchLocations_WatchLocations] FOREIGN KEY([WatchLocationId])
REFERENCES [dbo].[WatchLocations] ([WatchLocationId])
GO
ALTER TABLE [dbo].[WatchTypesAtWatchLocations] CHECK CONSTRAINT [FK_WatchTypesAtWatchLocations_WatchLocations]
GO
ALTER TABLE [dbo].[WatchTypesAtWatchLocations]  WITH CHECK ADD  CONSTRAINT [FK_WatchTypesAtWatchLocations_WatchTypes] FOREIGN KEY([WatchTypeId])
REFERENCES [dbo].[WatchTypes] ([WatchTypeId])
GO
ALTER TABLE [dbo].[WatchTypesAtWatchLocations] CHECK CONSTRAINT [FK_WatchTypesAtWatchLocations_WatchTypes]
GO
USE [master]
GO
