body {
    background-image: url(images/background.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: #752727;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Change bootstrap menu visuals */
nav.navbar-light li.nav-item a.nav-link {
    color: #990b0b;
    font-weight: bold;
}

nav.navbar-light a.navbar-brand {
    color: #990b0b;
    font-weight: bold;
}

h1, h2, h3 {
    color: #990b0b;
    font-weight: bolder;
    margin-top: 10px;
    margin-bottom: 20px;
}

.contentBackground {
    background: white;
    background: rgba(255, 255, 255, 0.7); 
    border-radius: 50px;
    padding: 10px 40px 40px 40px;
    margin: 20px auto;
    min-height: 200px;
    text-align: center;
}

.loadingSpinner {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 0;
    border-radius: 50%;
    border: 0.9375rem solid #cccccc;
    border: 0.9375rem solid rgba(0, 0, 0, 0.25);
    border-top-color: white;
    animation: 1.5s spin infinite linear;
}

.questionTable th {
    padding: 5px;
    font-size: 18px;
}

.questionTable td {
    padding: 5px;
}

.questionTable td i {
    font-size: 25px;
    cursor: pointer;
}

i.success {
    color: green;
}

i.question {
    color: skyblue;
}

i.error {
    color: red;
}

@keyframes spin {
    to {
        transform: rotate(360deg); } }

/*  */
.newsItem {
    text-align: left;
    margin: 10px 0;
    border-top: #888888 1px solid;
    padding: 10px 0;
}

.newsItem span {
    color: #888888;
}