body {
    background-image: url(images/background.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: #752727;
}

html, body {
    height: 100%;
    margin: 0;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    width: 16em;
}

    input.input-wide,
    select.input-wide,
    textarea.input-wide {
        width: 32em;
    }

h1, h2, h3 {
    color: #990b0b;
    font-weight: bolder;
    margin-top: 10px;
    margin-bottom: 20px;
}

/* Change bootstrap menu visuals */
nav.navbar-light li.nav-item a.nav-link {
    color: #990b0b;
    font-weight: bold;
}

nav.navbar-light a.navbar-brand {
    color: #990b0b;
    font-weight: bold;
}

.navbar.navbar-fixed-bottom {
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: black;
    -webkit-backface-visibility: hidden;
}

    .navbar.navbar-fixed-bottom .navbar-nav {
        width: 100%;
        flex-wrap: nowrap;
        flex-direction: row;
    }

        .navbar.navbar-fixed-bottom .navbar-nav .nav-item {
            width: 16%;
            text-align: center;
            font-size: 3em;
        }

.fixedContainer {
    margin-bottom: 5.5em;
}

.contentBackground {
    background: white;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 50px;
    padding: 10px 40px 40px 40px;
    margin: 20px auto;
    min-height: 200px;
    text-align: center;
}

.loadingSpinner {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 0;
    border-radius: 50%;
    border: 0.9375rem solid #cccccc;
    border: 0.9375rem solid rgba(0, 0, 0, 0.25);
    border-top-color: white;
    animation: 1.5s spin infinite linear;
}

.questionTable th {
    padding: 5px;
    font-size: 18px;
}

.questionTable td {
    padding: 5px;
}

    .questionTable td i {
        font-size: 40px;
        cursor: pointer;
    }

    .questionTable td.giftImage img {
        width: 100px;
        height: 100px;
    }

.clickable {
    cursor: pointer;
}

i.success {
    color: green;
}

    i.success.clickable:hover {
        color: lightgreen;
    }

i.question {
    color: skyblue;
}

    i.question.clickable:hover {
        color: blue;
    }

i.blue {
    color: blue;
}

    i.blue.clickable:hover {
        color: skyblue;
    }

i.warning {
    color: orange;
}

    i.warning.clickable:hover {
        color: orangered;
    }

i.error {
    color: red;
}

    i.error.clickable:hover {
        color: purple;
    }

i.gold {
    color: gold;
}

    i.gold.clickable:hover {
        color: coral;
    }

i.silver {
    color: silver;
}

    i.silver.clickable:hover {
        color: gray;
    }

i.bronze {
    color: #CD7F32;
}

    i.bronze.clickable:hover {
        color: coral;
    }

i.gray {
    color: darkgray;
}

    i.gray.clickable:hover {
        color: gray;
    }

i.black {
    color: black;
}

    i.black.clickable:hover {
        color: gray;
    }

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

/* News */
.newsItem {
    text-align: left;
    margin: 10px 0;
    border-top: #888888 1px solid;
    padding: 10px 0;
}

    .newsItem span {
        color: #888888;
    }

    .newsItem img {
        max-width: 100%;
    }

    .newsItem a {
        color: #990b0b;
    }