------------------------------------- 
-- database : CMDB 
-- scheme   : dbo 
-- name     : CharacterSearch 
-- Type     : storedprocedure 
------------------------------------- 
SET ANSI_NULLS ON 
GO 
SET QUOTED_IDENTIFIER ON 
GO 

DECLARE @sql as nvarchar(max) = N'

------------------------------------------------------------------------
-- Name: dbo.CharacterSearch
-- Date: 2018-04-12
-- Release: 1.0
------------------------------------------------------------------------
-- Copyright (c) Erik Bunnstad. All rights reserved.
------------------------------------------------------------------------

CREATE PROCEDURE [dbo].[CharacterSearch]
	@searchText nvarchar(100)
	,@searchLimit int
	,@requireExactMatch bit
as
begin
	if (@searchLimit <= 0)
	begin
		set @searchLimit = 10;
	end;

	if (@requireExactMatch = 1)
	begin
		select top(@searchLimit) c.CharacterId
		from dbo.Characters as c
		where Name = @searchText;
	end
	else
	begin
		select top(@searchLimit) c.CharacterId
		from dbo.Characters as c
		where Name like ''%'' + @searchText + ''%'';
	end;
end;

' 

IF EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CharacterSearch]') AND type in (N'P', N'PC')) 
	SET @sql=replace(@sql,'CREATE PROCEDURE','ALTER PROCEDURE') 

EXEC dbo.sp_executesql @sql 

GO

-- Grants rCMDB EXECUTE rights to [dbo].[CharacterSearch] 
GRANT EXECUTE ON [dbo].[CharacterSearch] TO [rCMDB] 
GO

------------------------------------- 
