------------------------------------- 
-- database : CMDB 
-- scheme   : dbo 
-- name     : RoleGetAll 
-- Type     : storedprocedure 
------------------------------------- 
SET ANSI_NULLS ON 
GO 
SET QUOTED_IDENTIFIER ON 
GO 

DECLARE @sql as nvarchar(max) = N'

------------------------------------------------------------------------
-- Name: dbo.RoleGetAll
-- Date: 2018-05-10
-- Release: 1.0
------------------------------------------------------------------------
-- Copyright (c) Erik Bunnstad. All rights reserved.
------------------------------------------------------------------------

CREATE PROCEDURE [dbo].[RoleGetAll]
as
begin
	select d.RoleId
	from dbo.Roles as d;

	select d.RoleId
		,ti.Language
		,ti.Title
	from dbo.Roles d
	inner join dbo.RoleTitles as ti on ti.RoleId = d.RoleId;
end;

' 

IF EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[RoleGetAll]') AND type in (N'P', N'PC')) 
	SET @sql=replace(@sql,'CREATE PROCEDURE','ALTER PROCEDURE') 

EXEC dbo.sp_executesql @sql 

GO

-- Grants rCMDB EXECUTE rights to [dbo].[RoleGetAll] 
GRANT EXECUTE ON [dbo].[RoleGetAll] TO [rCMDB] 
GO

------------------------------------- 
