
@{
    ViewBag.Title = "Historia";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="contentBackground">
    <h2>Vår historia</h2>

    <p>
        Vi träffades första gången oktober 2016.
        På den tiden bodde Caroline i Växjö men Erik lät inte avståndet vara ett motstånd utan han tog chansen och åkte till Växjö för att hälsa på Caroline och sedan dess har de varit tillsammans.
    </p>
    <p>
        Det som gjorde att Caroline fastnade för Erik var hans ärlighet och det som fick Erik att fastna för Caroline var hennes skönhet.
    </p>
    <p>
        Det Caroline uppskattar mest hos Erik är hans lugn och hans generositet.
    </p>
    <p>
        Det Erik uppskattar mest hos Caroline är hennes närhet och omtänksamhet.
    </p>
    <p>
        Caroline och Erik älskar att hitta på saker tillsammans men vill man göra dem extra glada så är det god mat som gäller.
    </p>
</div>