@{
    ViewBag.Title = "Hej och välkomna till vår bröllopssida!";
}

<div class="contentBackground">
    <h2>@ViewBag.Title</h2>
    <h3>
        Erik & Caroline
    </h3>
    <b id="countDownDate"></b>
    <br />
    <br />
    <br />
    <br />
    <div class="newsItem">
        <h4>Frågor och presentlista</h4>
        <p>
            Nu har vi lagt upp lite svar på frågor som vi fått och lite annan kort information på sidan @Html.ActionLink("Frågor och svar", "Svar", "Home").
            <br />
            Vi har för de som önskat också lagt upp en presentlista på sidan @Html.ActionLink("Presenter", "Presenter", "Home")
        </p>
        <span class="">2020-04-26 16:01</span>
    </div>
    <div class="newsItem">
        <h4>Registrering av inbjudan</h4>
        <p>
            Nu finns det möjlighet att bekräfta att ni kommer på sidan @Html.ActionLink("Inbjudan", "Inbjudan", "Home").
            <br />
            Glöm inte att ange om ni har några allergier, specialkost eller annat som vi behöver ta hänsyn till.
        </p>
        <span class="">2019-10-14 18:13</span>
    </div>
</div>

<script type="text/javascript">
    var countDownDate = new Date("Aug 8, 2020 14:00:00").getTime();
    var x = setInterval(function () {
        var now = new Date().getTime();
        var distance = countDownDate - now;
        var days = Math.floor(distance / (1000 * 60 * 60 * 24));
        var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
        var seconds = Math.floor((distance % (1000 * 60)) / 1000);
        document.getElementById("countDownDate").innerHTML = days + " dagar, " + hours + " timmar, "
            + minutes + " minuter och " + seconds + " sekunder ";
        if (distance < 0) {
            clearInterval(x);
            document.getElementById("countDownDate").innerHTML = "EXPIRED";
        }
    }, 1000);
</script>