@{
    ViewBag.Title = "Home Page";
}

<div>
    Hej och välkomna till vår bröllopssida!
    
    Vår lilla berättelse.
    Caroline och Erik träffades första gången 9 oktober 2016. På den tiden bodde Caroline i Växjö och Erik 
</div>