@{
    ViewBag.Title = "Information";
}
<h2>@ViewBag.Title</h2>

<h3>Kontakt</h3>

<address>
    Ana Caroline Da Silva Leite & Erik Bunnstad<br />
    Lasarettsgatan 5B<br />
    Lägenhet 1102<br />
    553 18 Jönköping<br />
</address>

<address>
    <abbr title="Phone">Mobil Erik:</abbr>
    076-81 54 235<br/>
    <abbr title="Phone">Mobil Caroline:</abbr>
    079-307 56 26<br />
    <strong>E-post Erik:</strong>   <a href="mailto:erik@skillingaryd.nu">erik@skillingaryd.nu</a><br />
    <strong>E-post Caroline:</strong> <a href="mailto:rio_caroline@hotmail.com">rio_caroline@hotmail.com</a>
</address>