
@{
    ViewBag.Title = "Bröllopsdagen";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="contentBackground">
    <h2>@ViewBag.Title</h2>
    <p>Mer information kommer här vid ett senare tillfälle.</p>
</div>

