
@{
    ViewBag.Title = "Bröllopsdagen";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="contentBackground">
    <h2>@ViewBag.Title</h2>
    <div class="newsItem">
        <h4>13:30 - 13:45</h4>
        <h5>På plats i kyrkan</h5>
        <p>Kl. 14:00 kommer vigseln inledas, det kan därför vara bra att vara på plats lite innan dess.</p>
        <p>Det är inga aktiviteter i kyrkan innan oss, så kyrkan ska vara öppen för alla.</p>
        <p>Det kommer att finnas gott om plats i kyrkan, men vill ni se något alls, välj främre hälften.</p>
        <p>Parkering finns bland annat på nedan markerade platser. Förutom detta finns också parkering på diverse gator runt i centrum.</p>
        <p><a target="_blank" href="https://www.google.se/maps/search/parkering+n%C3%A4ra+Sofiakyrkan,+Klostergatan,+J%C3%B6nk%C3%B6ping/&#64;57.7817075,14.1564682,1208m/data=!3m1!1e3">Google Maps</a></p>
        <img src="~/Content/images/parkering.png" />
    </div>
    <div class="newsItem">
        <h4>14:00</h4>
        <h5>Vigseln</h5>
        <p>Ni kommer få program när ni kommer in i kyrkan, nu är det dags!<p>
    </div>
    <div class="newsItem">
        <h4>14:45 - 15:00</h4>
        <h5>Vandring mot Sofiagården</h5>
        <p>Sofiagården ligger ett kvarter bort från Sofiakyrkan.<p>
        <p>Lättaste sättet att ta sig dit är till fots, följ strömmen eller se kartan nedan <a target="_blank" href="https://www.google.se/maps/dir/Sofiakyrkan,+Klostergatan,+J%C3%B6nk%C3%B6ping/Sofiag%C3%A5rden,+Kapellgatan+8,+553+17+J%C3%B6nk%C3%B6ping/&#64;57.7823146,14.1572443,302m/am=t/data=!3m1!1e3!4m14!4m13!1m5!1m1!1s0x465a6dee2e562715:0x8a97ecc227dc8418!2m2!1d14.1593333!2d57.7820273!1m5!1m1!1s0x465a6de8fe11d603:0x41fefbf2844dc1c2!2m2!1d14.1570958!2d57.7823952!3e2">Google Maps</a></p>
        <img src="~/Content/images/sofia.png"/>
    </div>
    <div class="newsItem">
        <h4>15:00</h4>
        <h5>Fika på Sofiagården</h5>
        <p>Vi kommer att bjuda på, kaffe, saft, fika och inte minst bröllopstårtan.<p>
        <p>Ja, det stämmer, hoppas ni inte åt för mycket till lunch.</p>
    </div>
    <div class="newsItem">
        <h4>16:30 - 17:30</h4>
        <h5>Stadsjakt</h5>
        <p>Efter en stunds fika kommer de som vill kunna ge sig ut på en promenad i stan med uppgiften att svara på frågor.</p>
        <p>Detta kommer var en liten tävling som sker gruppvis tillsammans med sina bordsgrannar till middagen.</p>
        <p>Tävlingen kommer vara digital och för att kunna spela behöver någon i gruppen en mobiltelefon med internet.<p>
        <p>Det vinnande laget kommer få välja varsitt litet pris, men förhoppningen är att det främst ska vara roligt.</p>
        <p>Vid dåligt väder kommer det gå köra på alternativt sätt, men prognosen ser bra ut i alla fall.</p>
    </div>
    <div class="newsItem">
        <h4>18:00</h4>
        <h5>Välkomna till restaurangen</h5>
        <p>Från ca. kl. 18:00 får vi dyka upp på restaurangen.<p>
        <p>De som ska bo på hotellet där får tid att checka in och sedan drar det igång efter hand.<p>
        <p>På plats serveras något drickbart och lite snittar, sedan blir det 3 rätters middag och lite lekar.</p>
        <p>Restaurangen heter Hasse på Sjökanten, med adressen: Rekrytvägen 5, 553 05 Jönköping</p>
        <p><a target="_blank" href="https://www.google.se/maps/dir/Sofiakyrkan,+Klostergatan,+553+17+J%C3%B6nk%C3%B6ping/Hasse+p%C3%A5+Sj%C3%B6kanten+-+restaurangen+vid+Rocksj%C3%B6n,+Rekrytv%C3%A4gen+5,+553+05+J%C3%B6nk%C3%B6ping/&#64;57.7808464,14.1694157,2874m/am=t/data=!3m1!1e3!4m13!4m12!1m5!1m1!1s0x465a6dee2e562715:0x8a97ecc227dc8418!2m2!1d14.1593333!2d57.7820273!1m5!1m1!1s0x465a6d9ea2746e3f:0xaef7580e5b79ffab!2m2!1d14.1969537!2d57.7759464">Google maps</a></p>
        <img src="~/Content/images/hasse.png" />
    </div>
    <div class="newsItem">
        <h4>01:00</h4>
        <h5>Festen är slut</h5>
        <p>Kl. 01:00 stänger både bar och restaurang. Festen är då slut om någon fortfarande är på plats och vaken.<p>
        <p>Hoppas alla haft en fin dag, nu ska vi sova.</p>
    </div>
</div>

