
@{
    ViewBag.Title = "Frågor och svar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="contentBackground">
    <h2>@ViewBag.Title</h2>
    <div class="newsItem">
        <h4>Kommer ni ha någon presentöppning?</h4>
        <p>
            Nej, vi kommer inte öppna presenter på bröllopsdagen.<br />
            Detta på grund av tidsaspekten, för att kunna hinna med allt.<br />
            Däremot kommer vi lägga upp bilder.
        </p>
        <span class="">Uppdaterad 2020-08-04</span>
    </div>
    <div class="newsItem">
        <h4>Vad önskar ni er?</h4>
        <p>
            Presenter är inte allt, alla med ett glatt humör är välkomna i vilket fall.<br />
            Vill ni ändå ge något finns några exempel på sidan @Html.ActionLink("Presenter", "Presenter", "Home").
        </p>
        <span class="">Uppdaterad 2020-04-26</span>
    </div>
    <div class="newsItem">
        <h4>Hur ska jag klä mig på er stora dag?</h4>
        <p>
            Vad det gäller klädkod så att det helt frivilligt.<br />
            Vi planerar att ha en aktivitet utomhus om vädret tillåter.<br />
            På sin höjd blir det en lugn vandring i stan, så det kan vara bra att tänka på skovalet.
        </p>
        <span class="">Uppdaterad 2020-04-26</span>
    </div>
    <div class="newsItem">
        <h4>Vad gäller respektive och barn?</h4>
        <p>
            Eventuella respektive och barn som inte står på inbjudan är ändå välkommna.<br />
            Vi behöver dock veta vilka som kommer, även vad det gäller små barn för att kunna få ihop logistiken.<br />
            Meddela vilka ni är som avser komma i god tid, senast 1:a juni.<br />
            Det går att anmäla sig här på sidan @Html.ActionLink("Inbjudan", "Inbjudan", "Home"), där går det även lägga till respektive/barn.
        </p>
        <span class="">Uppdaterad 2020-04-26</span>
    </div>
    <div class="newsItem">
        <h4>Får jag hålla tal?</h4>
        <p>
            Ja, alla som vill får hålla tal, men det är helt frivilligt.<br />
            Vi planerar inte att styra upp talen utan man får ta för sig och tala när och om det känns rätt.
        </p>
        <span class="">Uppdaterad 2020-04-26</span>
    </div>
    <div class="newsItem">
        <h4>Vad gäller för tider?</h4>
        <p>
            Vigseln startar kl. 14:00, men det kan vara bra att var på plats någon minut innan dess.<br />
            Efter vigseln blir det fika på Sofiagården.<br />
            Restaurangen är öppen till ca. 01:00.<br />
            Fullständig tidsplan för dagen finns på sidan @Html.ActionLink("Bröllopsdagen", "Schema", "Home")
        </p>
        <span class="">Uppdaterad 2020-04-26</span>
    </div>
    <div class="newsItem">
        <h4>Finns det bra hotell området?</h4>
        <p>
            Eftersom festen nu är flyttad åt ett annat vädersträck och DreamHack är inställt så är hotellsituationen förbättrad.<br/>
            Nu finns det hotell och vandrarhem i samma byggnas som restaurangen <a href="http://rocksjon.se/restaurang/hotell/">Rocksjön Hotell och Restaurang</a>.<br/>
            Förutom detta finns det flera hotell i Jönköping C i området runt kyrkan.<br/>
            Det är 3km från Jönköping C till R
        </p>
        <span class="">Uppdaterad 2020-06-12</span>
    </div>
    <div class="newsItem">
        <h4>Var går det pakera?</h4>
        <p>
            I området kring kyrkan finns parkering längs med gatorna i området, vilket troligen kommer vara det enklaste alternativet.<br />
            Alternativt finns det parkeringshus en liten bit bort (Järnbäraren och Brahe).<br /><br />
            Det går <b>inte</b> parkera på Västra torget eftersom det är avstängt för torghandel på lördagar fram till kl. 17:00.<br /><br />
            Sofiagården där vi träffas efter vigseln ligger på 150 meters avstånd från kyrkan.<br /><br />
            Avståndet från Sofiagården till restaurangen är sedan 3000 meter.<br />
            Vid restaurangen finns parkeringsplatser.<br/>
            Skulle dessa vara fulla så går det också parkera på A6 Kaserngården eller vid korsningn mellan Rocksjön och Kaserngården.<br />
        </p>
        <span class="">Uppdaterad 2020-06-12</span>
    </div>
    <div class="newsItem">
        <h4>Kommer vi få något att äta?</h4>
        <p>
            Ja, fika kommer att finnas på Sofiagården efter vigseln.<br /><br />
            På kvällen har vi en hel restaurang med bar för oss själva.<br />
            Vi kommer att bjuda på trerätters middag och dricka till maten.<br />
            Vill man sedan ha något mer att dricka betalar man för det själv i baren.
        </p>
        <span class="">Uppdaterad 2020-04-26</span>
    </div>
    <div class="newsItem">
        <h4>Vad är stadsjakten?</h4>
        <p>
            Det är den aktivitet som vi planerar mellan fikat och middagen.<br />
            Tänk på det som en lite mer anvancerad tipspromenad.<br />
        </p>
        <span class="">Uppdaterad 2020-04-26</span>
    </div>
</div>

